.header {
	width: 1440px;
	height: 200px;
	background-color: #E5E000;
}

.headerText {
    padding-left: 80px;
    line-height: 200px;
    font-family: Helvetica;
    font-size: 50px;
    color: #FFFFFF;
}

.image {
    display: block;
}

.linksSection {
    width: 1440px;
    height: 100px;
    background-color: #E5E000;
}

.linksText {
	padding-left: 80px;
    line-height: 100px;
    font-family: Helvetica;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
}

.description {
    width: 1280px;
    height: 637px;
    padding-left: 80px;
    padding-top: 68.5px;
}

h1,p {
    font-family: Helvetica;
    font-size: 50px;
}

.footer {
    width: 1440px;
    height: 200px;
    background: #E5E000;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: 80px 77px;
}

.footerText {
    padding-left: 746px;
    line-height: 200px;
    font-family: Helvetica;
    font-size: 50px;
    color: #FFFFFF;
}

