@font-face {
	src: url(../font/neGulim.ttf);
	font-family: 'neGulim';
	font-weight: normal;
}

.heading h1 {
	font-size: 50px;
	font-weight: normal;
	font-style: italic;
	font-family: 'neGulim';
}

.paragraph p {
	font-family: 'neGulim';
}

.paragraphTwo p {
	font-family: 'neGulim';
}