@import url(reset.css);

* {
	font-family: Arial;
	color: #E50043;
}

.outer {
	height: 140px;
	display: flex;
	align-items: center;
}

.header {
	width: 100%;
	position: fixed;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	font-size: 50px;
}

.evian {
	margin-left: 50px;
}

.horizont {
	display: flex;
}

.link {
	margin: 0 50px;
}

.heroblock {
	height: 950px;
	background-image: url("../img/mount.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text {
	font-size: 100px;
	text-align: center;
}

.content.one {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: space-around;
}

.ourwater {
	display: flex;
	border: 3px solid #E50043;
	border-radius: 20px;
	box-sizing: border-box;
	font-size: 25px;
	line-height: 29px;
	padding: 24px;
	margin: 150px;
	width: 1040px;
	min-width: 500px;
}

.black {
	color: black;
}

.content.two {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: space-around;
	
}

.bottles {
	display: flex;
	width: 1040px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

}

.title {
	margin-top: 42px;
	margin-bottom: 40px;
	font-size: 25px;
    line-height: 29px;
    color: black;
    text-align: center;
    display: block;
}

.content.three {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: space-between;
}

.contain {
	display: flex;
	border: 3px solid #E50043;
	border-radius: 20px;
	box-sizing: border-box;
	font-size: 25px;
	line-height: 29px;
	padding: 24px;
	margin: 110px 0px 150px;
	width: 1040px;
	min-width: 500px;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
}

.electrolytes {
	color: black;
	margin-left: 80px;
}

.footer {
	height: 140px;
	background: #F8BFC7;
	display: flex;
	align-items: center;
}

.footer-item {
	font-size: 50px;
	margin-left: 50px;
	color: white;
}