@import url(reset.css);

html {
	font-size: 10px;
}

body {
	font-family: Helvetica;
	color: white;
}

* {
	box-sizing: border-box;
}

::-webkit-input-placeholder {color:white; opacity:1;}

.outer {
	height: 9rem;
	display: flex;
	align-items: center;
	background-color: #F8BFC7;
}

.header {
	width: 100%;
	position: fixed;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	font-size: 2rem;
}

.menu {
	margin-right: 5rem;
}

.horizont {
	display: flex;
}

.link {
	margin: 0 5rem;
}

.heroblock {
    height: 64.3rem;
	background-image: url("../img/background.png");
	background-size: cover;
	background-position: center;
	display: flex;
}

.column {
	width: 30rem;
	height: 36.2rem;
	margin-top: 9rem;
	margin-left: 9rem;
	background-color: #F8BFC7;
    border: 0.3rem solid #FFFFFF;
    border-radius: 2rem;
    padding: 3rem;
}

.input {
	display: block;
	background-color: #F8BFC7;
	width: 100%;
	border: 0;
	border-bottom: 0.1rem solid white;
	font-family: Times New Roman;
    font-size: 2rem;
    line-height: 2.3rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.label {
	line-height: 2.3rem;
	font-size: 2.0rem;
}

.button {
	width: 20rem;
	height: 6rem;
	margin-top: 1rem;
	margin-left: 14rem;
    background-color: #FEB700;
    border: 0.3rem solid #FFFFFF;
    border-radius: 3rem;
    color: white;
    padding: 1.5rem 3.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
}

.blue {
	height: 20.1rem;
	background: #336FD1;
	display: flex;
	justify-content: center;
}

.delivery {
font-size: 5rem;
line-height: 5rem;
color: #FEB700;
margin-top: 3rem;
}



.footer {
	height: 14rem;
	background: #F8BFC7;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 5rem;
	padding-right: 5rem;
	}

.footer-item {
    font-size: 2rem;
    line-height: 2.3rem;
	color: white;
}