@import url(reset.css);

* {
  box-sizing: border-box;
}

.page {
  font-family: Helvetica;
  width: 1440px;
  line-height: 23px;
}

.header, footer {
  background-color: red;
  color: white;
  padding: 20px;
  font-size: 0px;
}

.content {
  font-size: 0px;
  margin-left: 20px;
}

.column {
  height: 800px;
  width: 400px;
  border: 5px solid #E5E000;
  display: inline-block;
  margin: 52px 0 52px 50px;
  border-radius: 30px;
  padding: 33px;
}

h1 {
  font-size: 20px
}

h2 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 23px;
  padding-bottom: 41px;
}

h3, p {
  font-family: Times New Roman;
  font-size: 20px;
}

.white {
  color: white;
  text-decoration: none;
}

.copy {
  text-transform: uppercase;
  width: 50%;
  display: inline-block;
  text-align: left;
  font-size: 20px;
}

.back {
  width: 50%;
  display: inline-block;
  text-align: right;
  font-size: 20px;
}